.dynamic-list ul {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    /*margin: 30px auto;*/
    padding: 0;
    width: 300px;
}
.dynamic-list ul li {
    padding: 15px;
}
.dynamic-list ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.dynamic-list ul li.new-item {
    -webkit-animation: new-item-animation .2s linear forwards;
    animation: new-item-animation .2s linear forwards;
}
.dynamic-list ul li.removed-item {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-animation: removed-item-animation 0.3s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    animation: removed-item-animation 0.3s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
}
.dynamic-list ul li .remove {
    float: right;
    cursor: pointer;
}


@-webkit-keyframes new-item-animation {
    0% {
        opacity: 0;
        -webkit-transform: translatey(50px);
        transform: translatey(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes new-item-animation {
    0% {
        opacity: 0;
        -webkit-transform: translatey(50px);
        transform: translatey(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
}
@-webkit-keyframes removed-item-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translatex(290px);
        transform: translatex(290px);
    }
}
@keyframes removed-item-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translatex(290px);
        transform: translatex(290px);
    }
}
